@using CarterJK
@{
    if (ViewBag.Title == null)
    {
        ViewBag.Title = Html.GetRouteData("viewName").Replace('-', ' ') + " | Jason Carter";
    }
    if (ViewBag.Heading == null)
    {
        ViewBag.Heading = Html.GetRouteData("viewName").Replace('-', ' ');
    }
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @RenderSection("Styles", required: false)
        @Scripts.Render("~/bundles/modernizr")
        <!--[if lt IE 9]>
            <script type="text/javascript">
                require([
                    "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.min",
                    "@BundleTable.Bundles.ResolveBundleUrl("~/bundles/html5shiv")"
                ]);
            </script>
        <![endif]-->
        <script type="text/javascript">
            require.config({
                paths: {
                    "jquery": [
                        "//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min",
                        "@BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"
                    ]
                }
            });
        </script>
    </head>
    <body>
        <div id="container">
            <section id="title">
                <div>
                    <h1><a href="/">Jason Carter</a></h1>
                    @if (ViewBag.Subtitle != null)
                    {
                        <p id="subtitle">@ViewBag.Subtitle</p>
                    }
                </div>
            </section>
            <header><div id="top-nav">@RenderSection("Nav", required: false)</div><span id="heading">@ViewBag.Heading</span></header>
            
            <div id="body">
                @RenderBody()
            </div>
        </div>
        
        
        @RenderSection("Scripts", required: false)
    </body>
</html>
